<section id="dashboard">
    <div id="main">
      <header>
        <div class="brand">
          <img src="assets/logo.png" alt="Logo">
          <h2>Nimbus</h2>
        </div>
        <nav>
          <span>Overview</span>
          <a routerLink="/dashboard" routerLinkActive="active"><i class="fa-solid fa-house"></i> Home</a>
          <a routerLink="absences" ><i class="fa-solid fa-school"></i> Absences</a>
          <a routerLink="reports" routerLinkActive="active"><i class="fa-solid fa-triangle-exclamation"></i> Reports</a>
          <a routerLink="notifications"><i class="fa-solid fa-inbox"></i> Inbox</a>
          <a routerLink="stats"><i class="fa-solid fa-chart-simple"></i> Statistics</a>
        </nav>
        <div class="settings">
          <span>Settings</span>
          <a routerLink="/settings" routerLinkActive="active"><i class="fa-solid fa-gear"></i> Setting</a>
          <a routerLink="#" (click)="logout()" class="logout"><i class="fa-solid fa-right-from-bracket"></i> LogOut</a>
        </div>

        <div class="premium">
            <span>NEW</span>
            <h4>We have added new school tools!</h4>
            <button>Upgrade Now</button>
        </div>
      </header>
      <main>
        <div class="main-header">
          <div class="header-left">
            <h1>Dashboard</h1>
            <p>{{getCurrentDate()}}</p>
          </div>

          <div class="header-right">
            <div class="search">
              <input type="text" placeholder="Search">
              <i class="fa-solid fa-search"></i>
            </div>
            <div class="notification">
              <i class="fa-solid fa-bell"></i>
              <span>3</span>
            </div>
            <div class="profile">
              <img src="./assets/pfp.jpg" alt="Profile">
              <p><strong>{{currentUser?.fullName}}</strong><br><span>Administrator</span></p>
            </div>
          </div>
        </div>
        <app-admin *ngIf="isAdmin"></app-admin>
        <app-driver *ngIf="isDriver"></app-driver>
        <app-parent *ngIf="isParent"></app-parent>
      </main>
    </div>
  </section>
